<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='socket.js') }}"></script>
</head>
<body>
    <h1 data-name="{{ channel["name"]  }}" id="channel_header">{{ channel["name"] }}</h1>
    <a href="{{ url_for("index") }}">Back</a>
    <div id="user_name"></div>

    <br>

    <input name="message" type="text" id="message" />
    <button id="add_message">add message</button>


    <br>

    <div id="messages">
        {% for message in channel["messages"] %}
            <li>{{ message["message"] }} by {{ message["user"] }} at {{ message["time"] }}</li>
        {% endfor %}
    </div>

</body>
</html>